RewriteEngine On

# Allow access without .html
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.html [L]

# Block direct access to .html files
RewriteCond %{THE_REQUEST} \s([^.]+)\.html[\s?] [NC]
RewriteRule ^ %1 [R=301,L]
